@import url('https://fonts.googleapis.com/css2?family=Acme&family=Shadows+Into+Light&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: whitesmoke;
}

nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  max-width: 1000px;
  margin: auto;
  border-bottom: 2px solid rgb(74, 74, 143); 
  background-color: whitesmoke;
  border-radius: 20px;
  margin-top: 20px;
}

.blog-title{
  display: flex;
  text-align: center;
  margin-right: 300px;
  font-size: x-large;
  font-family: 'Acme', sans-serif;
  color:rgb(74, 74, 143);
}

.nav-items a{
  text-decoration: none;
  margin-left: 20px; 
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  color:rgb(74, 74, 143)
}

form{
  width: 100%;
  padding: 20px;
  max-width: 700px;
  margin:  20px auto;
  background-color: whitesmoke;
}

label{
  font-family: 'Acme', sans-serif;
  font-size: large;
  color:rgb(74, 74, 143);
}

.field{
  margin: 20px 0;
}

.field input[type=text]{
  border: 2px solid rgb(74, 74, 143);
  padding: 10px;
  border-radius: 5px;
}

.body input[type=text]{
  border: 2px solid rgb(74, 74, 143);
  padding: 60px;
  border-radius: 5px;
}

button{
  margin: 20px 0;
  border: 2px solid rgb(74, 74, 143);
  padding: 10px;
  font-size: large;
  font-family: 'Acme', sans-serif;
  background-color: rgb(74, 74, 143);
  border-radius: 5px;
  color: white;
}

.blog-content{
  border-bottom: 2px solid rgb(74, 74, 143);
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
  font-family: 'Acme', sans-serif;
  color:rgb(74, 74, 143);
  border-radius: 15px;
}

#p-author{
  padding: 2px;
  font-size: large;
}

